.setting {
  border-radius: 5px;
}
.setting ul li {
  font-size: 14pt;
  padding: 7px 14px;
  border-bottom: 1px solid #000;
}
.setting ul li:last-child {
  border: none;
}

.setting ul li a {
  display: block;
}
.setting ul li button {
  display: block;
  width: 100%;
  text-align: left;
}
.setting ul li:hover {
  background-color: #ff9923;
  color: #ffffff;
}
